<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Android 13 (API 33) ve üzerinde bildirim GÖSTEREBİLMEK için bu izin
         zorunludur. Sadece manifest'te tanımlamak yetmez; uygulama içinden
         de çalışma zamanında (runtime) kullanıcıdan onay istememiz gerekir
         (bkz. lib/data/services/notification_service.dart -> requestPermission). -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Telefon yeniden başlatıldığında (BOOT_COMPLETED), planlanmış
         haftalık alışveriş hatırlatmasının hayatta kalabilmesi için gerekli. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Fotoğraftan tarif: kameradan çekim için. Galeri seçimi Android 13+
         fotoğraf seçicide ek izin gerektirmez. -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <application
        android:label="PlanToPlate"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Google AdMob Uygulama Kimliği (Application ID). Bu değer
             APK içinde herkese açık olur; gizli bir anahtar değildir.
             Reklam birimi kimlikleri ise .env dosyasında tutulur. -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4806046110318369~8354866223"/>

        <!-- Telefon yeniden başlatıldığında, `flutter_local_notifications`
             paketinin planlanmış bildirimleri (örn. haftalık alışveriş
             hatırlatması) otomatik olarak yeniden kurmasını sağlayan sistem
             bileşeni. `android:exported="false"` çünkü bu bileşeni SADECE
             Android'in kendisi (BOOT_COMPLETED sinyaliyle) tetikleyebilir;
             başka hiçbir uygulama tetikleyemez. -->
        <receiver
            android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
